<div class="row-md-12" id="gallery">
    <div class="row-md-12">
        <div class="col-md-3">
            <img class="w-100" src="../../assests/images/certificates/Acadgild/AcadGild.jpg"
            style="width:25%;height:25%">
        </div>
        <div class="col-md-3">
            <img class="w-100" src="../../assests/images/certificates/AWS/AWS Advanced Analytics with Amazon SageMaker-1.jpg"
            style="width:25%;height:25%">
        </div>
        <div class="col-md-3">
            <img class="w-100" src="../../assests/images/certificates/AWS/AWS Anomaly Detection on AWS-1.jpg"
            style="width:25%;height:25%">
        </div>
        <div class="col-md-3">
            <img class="w-100" src="../../assests/images/certificates/AWS/AWS Automatic Model Tuning in Amazon SageMaker-1.jpg"
            style="width:25%;height:25%">
        </div>
    </div>
</div>